<%-  include("partials/head.ejs")    %>
<%-  include("partials/navAdminSide.ejs")    %>

  <body id="bg">
    <br><br>
  <h1 id="center">Welcome to the Admin Dashboard!        </h1>

  
    <!-- <form action="/DisplayUsers">
      <button> Display Users </button>
    </form>

  <form action="/addProduct">
    <button> Add New Product to shop </button>
  </form>
  <form action="/productList">
    <button> View Products </button>
  </form> -->

</body>
</html>