<%-  include("partials/head.ejs")    %>
<body class = "WelcomeHome">
  <br>
    <h1 id ="title">Welcome to Amazonian!</h1>
  <br>


    <form action="/Login" >
      <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-dark btn-lg"> Login </button>
      </div>
    </form>
  <br>
  
  <form action="/CreateAccount">
    <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-dark btn-lg"> Create Account </button>
    </div>
  </form>



</body>
</html>