<%- include("partials/head.ejs") %>

<body >
  <section class="vh-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 text-black">

          <div class="px-5 ms-xl-4">
            <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
            <span class="h1 fw-bold mb-0">Witness The Bueaty Of Our Service!</span>
          </div>

          <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

            <form style="width: 23rem;" action="/Login" method="POST" autocomplete="off">

              <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Log in</h3>

              <div data-mdb-input-init class="form-outline mb-4">
                <input type="text"  name="UserName" id="form2Example18" class="form-control form-control-lg" />
                <label class="form-label" for="form2Example18">Username</label>
                <span id="errorUser"></span>
              </div>

              <div data-mdb-input-init class="form-outline mb-4">
                <input name="Password" type="password" id="form2Example28" class="form-control form-control-lg" />
                <label class="form-label" for="form2Example28">Password</label>
                <span id="errorPassword"></span>
              </div>

              <div class="pt-1 mb-4">
                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-info btn-lg btn-block" >Login</button>
              </div>
              <hr>
              <div id="google-btn-container" class="google-btn-container">
                <span class="google-text">
                  Continue with Google
                </span>
              </div>
              <p>Don't have an account? <a href="/CreateAccount" class="link-info">Register here</a></p>
        
            </form>

          </div>

        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="https://res.cloudinary.com/rainforest-cruises/images/c_fill,g_auto/f_auto,q_auto/w_1120,h_747/v1625762963/Best-Places-To-See-Wildlife-Yasuni-National-Park-Main_1623226cdd/Best-Places-To-See-Wildlife-Yasuni-National-Park-Main_1623226cdd.jpg"
            alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
        </div>
      </div>
    </div>
  </section>
  <script src ="/js/LoginAccount.js"></script>
  <!-- <script type="module">
      // Import Firebase modules
      import { initializeApp } from 'https://www.gstatic.com/firebasejs/9.14.0/firebase-app.js';
      import { getAuth, GoogleAuthProvider, signInWithPopup } from 'https://www.gstatic.com/firebasejs/9.14.0/firebase-auth.js';

      // Your Firebase config
      const firebaseConfig = {
          
      };

      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      const auth = getAuth(app);

      document.addEventListener('DOMContentLoaded', () => {
          document.getElementById('google-btn-container').addEventListener('click', () => {
              const provider = new GoogleAuthProvider();
              signInWithPopup(auth, provider)
                  .then((result) => {
                      const token = result._tokenResponse.idToken; // Use this token
                      fetch('/googleLogin', {
                          method: 'POST',
                          headers: {
                              'Content-Type': 'application/json',
                          },
                          body: JSON.stringify({ token }),
                      })
                      .then(response => response.json())
                      .then(data => {
                          // if (data.message === 'Successfully authenticated') {
                          //     // Redirect on the client side
                          //     window.location.href = `/home?email=${encodeURIComponent(data.email)}`;
                          // } else {
                          //     console.error('Authentication failed:', data.error);
                          // }
                      })
                      .catch((error) => {
                          console.error('Error:', error);
                      });
                  })
                  .catch((error) => {
                      console.error('Error during sign in:', error);
                  });
          });
      });
  </script> -->
</body>
</html>