<%- include("partials/head.ejs") %>
<%- include("partials/navUserSide.ejs") %>
<body id="body">
  <div class="container p-0">
    <div class="row">
      <div class="col-md-5 col-xl-4">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title mb-0">User Settings</h5>
          </div>
          <div class="list-group list-group-flush" role="tablist">
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#account" role="tab">Account</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#password" role="tab">Password</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#" role="tab">Privacy and safety</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#" role="tab">Email notifications</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#" role="tab">Web notifications</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#" role="tab">Widgets</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="UpdateUserLocation" id="location_selection" role="tab">Location</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#" role="tab">Delete account</a>
          </div>
        </div>
      </div>
      <div class="col-md-7 col-xl-8">
        <div class="tab-content">
          <div id="location" role="tabpanel">
            <!-- Location content will be loaded here -->
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>