<%-  include("partials/head.ejs")    %>
<%- include("partials/navUserSide.ejs") %>
  <body>

     <a class="nav-link active" aria-current="page" href="/UpdateUserLocation">Address</a>
   
  </body>
  </html>