<%-  include("partials/head.ejs")    %>
<%- include("partials/navUserSide.ejs") %>
<body id="bg">
  <br><br>
    <h1 id="center">Welcome home, <%= username %>!  </h1>

  <!-- <form action="/viewProducts">
    <button> View available products </button>
  </form>

  <br>

  <form action="/viewCart">
    <button> View your shopping cart </button>
  </form> -->

</body>
</html>