<%-  include("partials/head.ejs")    %>
  <body>
      <h1 id = "createtitle">Add Locoation</h1>
    <form action="/UserLocation" method="POST" autocomplete="off"id = "createtitle">

      Address:
      <input name="Address" type="text">
      <span id="AddressError"></span>
      <br>

      City:
      <input name="City" type="text">
      <span id="CityError"></span>
      <br>

      State:
      <select name="State" id="state"></select>
      <span id="StateError"></span>
      <br>

      ZipCode:
      <input name="ZipCode" type="text">
      <span id="ZipCodeError"></span>
      <br>-->


      <button>Save Location</button>

    </form>

    <!--<div id="map"></div>-->
    <script src="/js/AddLocation.js"></script>

  </body>
  </html>