<%- include("partials/head.ejs") %>
<%- include("partials/navUserSide.ejs") %>
<body>
  <div class="img-magnifier-container">
    <img id="myimage" src="<%= productInfo.Image %>" width="1200" height="600"alt="productimage" >
  </div>

  <script src="/js/zoomIn.js"></script>
</body>
</html>
