#createtitle{
  text-align:center;
  font-size:30px;
}


#map {
  height: 100%;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.google-btn-container {
  background-color: rgb(66, 133, 244);
  color: rgb(255, 255, 255);
  height: 50px;
  width: 240px;
  border: none;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px 0px;
  font-size: 16px;
  line-height: 48px;
  display: block;
  border-radius: 1px;
  transition: background-color 0.218s ease 0s, border-color 0.218s ease 0s, box-shadow 0.218s ease 0s;
  font-family: Roboto, arial, sans-serif;
  cursor: pointer;
  user-select: none;
  margin: .5rem 0;
}

.img{
  width:25%;
  height:25%;
}
.WelcomeHome{
  text-align:center;
  font-size: 40px;
  background-image:url("https://media.tacdn.com/media/attractions-splice-spp-674x446/12/33/6b/88.jpg");
  background-size:cover;
}
#title{
  font-size: 100px;
  color: black;
  background-color: black;
  color: white;
  text-align: center;
  width: 77%;
  border-radius: 20px;
  margin: 30px auto auto auto;
  padding: 3px;
  border: 2px solid white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}
#bg {
  background-image: url('img/leaves.png');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
}

#center {
    text-align: center;
  }

.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.avatar.sm {
    width: 2.25rem;
    height: 2.25rem;
    font-size: .818125rem;
}
.table-nowrap .table td, .table-nowrap .table th {
    white-space: nowrap;
}
.table>:not(caption)>*>* {
    padding: 0.75rem 1.25rem;
    border-bottom-width: 1px;
}
table th {
    font-weight: 600;
    background-color: #eeecfd !important;
}


#ui-w-80 {
  width: 80px !important;
  height: auto;
}

#btn-default {
  border-color: rgba(24, 28, 33, 0.1);
  background: rgba(0, 0, 0, 0);
  color: #4E5155;
}

#label-btn {
  margin-bottom: 0;
}

#btn-outline-primary {
  border-color: #26B4FF;
  background: transparent;
  color: #26B4FF;
}

#btn {
  cursor: pointer;
}

#text-light {
  color: #babbbc !important;
}

#btn-facebook {
  border-color: rgba(0, 0, 0, 0);
  background: #3B5998;
  color: #fff;
}

#btn-instagram {
  border-color: rgba(0, 0, 0, 0);
  background: #000;
  color: #fff;
}

#card {
  background-clip: padding-box;
  box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
}

#row-bordered {
  overflow: hidden;
}

#account-settings-fileinput {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}

#account-settings-links .list-group-item.active {
  font-weight: bold !important;
}

html:not(.dark-style) #account-settings-links .list-group-item.active {
  background: transparent !important;
}

#account-settings-multiselect ~ .select2-container {
  width: 100% !important;
}

.light-style #account-settings-links .list-group-item {
  padding: 0.85rem 1.5rem;
  border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style #account-settings-links .list-group-item.active {
  color: #4e5155 !important;
}

.material-style #account-settings-links .list-group-item {
  padding: 0.85rem 1.5rem;
  border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style #account-settings-links .list-group-item.active {
  color: #4e5155 !important;
}

.dark-style #account-settings-links .list-group-item {
  padding: 0.85rem 1.5rem;
  border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style #account-settings-links .list-group-item.active {
  color: #fff !important;
}

.light-style #account-settings-links .list-group-item.active {
  color: #4E5155 !important;
}

.light-style #account-settings-links .list-group-item {
  padding: 0.85rem 1.5rem;
  border-color: rgba(24, 28, 33, 0.03) !important;
}
* {
  padding: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box;
}

.listing-section::after {
  width: 100%;
  float: left;
  padding: 1%;
  border-bottom: 0.01em solid #dddbdb;
}

.product {
  float: left;
  width: 23%;
  border-radius: 2%;
  margin: 1%;
}

.product:hover {
  box-shadow: 1.5px 1.5px 2.5px 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 1.5px 1.5px 2.5px 3px rgba(0, 0, 0, 0.4);  
  -moz-box-shadow:    1.5px 1.5px 2.5px 3px rgba(0, 0, 0, 0.4);
}

.image-box {
  width: 100%;
  overflow: hidden;
  border-radius: 2% 2% 0 0;
}

.images {
  height: 15em;
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat;
  border-radius: 2% 2% 0 0;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
}

.images:hover {
  transform: scale(1.2);
  overflow: hidden;
  border-radius: 2%;
}

.text-box {
  width: 100%;
  float: left;
  border: 0.01em solid #dddbdb;
  border-radius: 0 0 2% 2%;
  padding: 1em;
}

.item, .price {
  clear: left;
  width: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.price {
  color: Grey;
}

.description, .item-2-quantity, .CartBttn, .Quantity {
  float: left;
  clear: left;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em;
  text-align: center;
  margin: 0.2em auto;
}

input:focus {
  outline-color: #fdf;
}

label {
  width: 60%;
}

.text-box input {
  width: 15%;
  clear: none;
}

.text-box button {
  margin-top: 1em;
}

button {
  padding: 2%;
  background-color: yellow;
  border: none;
  border-radius: 2%;
}

button:hover {
  bottom: 0.1em;
}

button:focus {
  outline: 0;
}

button:active {
  bottom: 0;
  background-color: #fdf;
}
.category{
  float: left;
  clear: left;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em;
  text-align: center;
  margin: 0.2em auto;
}
.supplier{
  float: left;
  clear: left;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em;
  text-align: center;
  margin: 0.2em auto;
}