#createtitle{
  text-align:center;
  font-size:30px;
}


#map {
  height: 100%;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}



.img{
  width:25%;
  height:25%;
}
.WelcomeHome{
  text-align:center;
  font-size: 40px;
  background-image:url("https://media.tacdn.com/media/attractions-splice-spp-674x446/12/33/6b/88.jpg");
  background-size:cover;
}
#title{
  font-size: 100px;
  color: black;
  background-color: black;
  color: white;
  text-align: center;
  width: 77%;
  border-radius: 20px;
  margin: 30px auto auto auto;
  padding: 3px;
  border: 2px solid white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}
#bg {
  background-image: url('img/leaves.png');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
}

#center {
    text-align: center;
  }

.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.avatar.sm {
    width: 2.25rem;
    height: 2.25rem;
    font-size: .818125rem;
}
.table-nowrap .table td, .table-nowrap .table th {
    white-space: nowrap;
}
.table>:not(caption)>*>* {
    padding: 0.75rem 1.25rem;
    border-bottom-width: 1px;
}
table th {
    font-weight: 600;
    background-color: #eeecfd !important;
}